{% extends "base.html" %}

{% block title %}
Наши услуги
{% endblock %}

{% block content %}

<h1 class="mb-5 text-center">
    Наши услуги
</h1>

<div class="row g-4">

    {% for service in services %}

    <div class="col-md-4">

        <div class="card shadow h-100">

            <div class="card-body">

                <h4 class="card-title">
                    {{ service.name }}
                </h4>

                <p class="text-muted">
                    ⏱ {{ service.duration }} мин
                </p>

                <h5 class="text-primary">
                    {{ service.price }} BYN
                </h5>

                <a
                    href="{% url 'appointment_create' %}?service={{ service.id }}"
                    class="btn btn-primary w-100 mt-3">

                    Записаться

                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}